.auth-layout{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    position: relative;
}

.auth-layout .logo{
    background-image: url('../../assets/img/chiikawa.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 36px;
    width: 36px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}