.top-bar{
    height: 50px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar #logo{
    padding-left: 20px;
    height: 30px;
    width: 30px;
}

.top-bar .top-items{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    gap: 20px;
    margin-right: 20px;
    justify-content: flex-end;
}